{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{%  block title %}Document{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
{% block navbar %} 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Administracion</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'admi:inicio'%}">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'admi:tipoUsuario'%}">tipo usuario</a></li>
            <li><a href="{% url 'admi:faseCultivo' %}">Fases de cultivo</a></li>
            <li><a href="{% url 'admi:siembra'%}">Cultivos</a></li>
          </ul>
        </li>
        <li><a href="{% url 'admi:listaUsuarios' %}">Listado de usuarios</a></li>
        <li><a href="{% url 'admi:usuariosBloqueados' %}">Usuarios bloqueados</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user.email}}</a></li>
        <li><a href="{% url 'login:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}


{% block content %}

{% endblock %}	

</body>
<footer>
{% block footer %}

{% endblock %}	
</footer>
</html>




