{% extends 'base/baseAdmin.html' %}
{% load staticfiles %}

{% block title %}Nueva fase de cultivo{% endblock %}

{% block content %}

<form class="form-horizontal"  method="POST" >

	<div class="panel panel-info">
		<div class="panel-heading">
		<div class="container text-center">
			<h1>FORMULARIO DE FASES DE CULTIVO</h1>		
		</div>
		</div>
	</div>
{% csrf_token %}
	<div class="form-group">
		<label for="etapa" class="col-sm-2 control-label">Etapa:</label>
		<div class="col-sm-3">
			<input type="text" name="etapa" id="etapa" class="form-control" placeholder="Etapa..">
		</div>
	</div>
	<div class="form-group">
		<label for="descripcion" class="col-sm-2 control-label">Descripcion:</label>
		<div class="col-sm-5">
			<input type="textarea" name="descripcion" id="descripcion" class="form-control" placeholder="Descripcion..">
		</div>
	</div>
	<div class="form-group">
		<label for="diasD" class="col-sm-2 control-label">Dias de duracion:</label>
		<div class="col-sm-3">
			<input type="range" name="diasD" id="diasD" min="1" max="100" step="1">
		</div>
		<div class="col-sm-3">
			<input type="text" name="valor" id="valor" disabled placeholder="dias..">
		</div>
	</div>
	<div class="form-group">
		<label for="hidricos" class="col-sm-2 control-label">Hidricos:</label>
		<div class="col-sm-3">
			<input type="range" name="hidricos" id="hidricos" min="1" max="100" step="0.01">
		</div>
		<div class="col-sm-3">
			<input type="text" name="valor2" id="valor2" disabled placeholder="hidricos..">
		</div>
	</div>
	<div class="form-group">
		<label for="siembra" class="col-sm-2 control-label">Siembra:</label>
		<div class="col-sm-4">
			<select style="width:100px" name="siembra">
				{%for siembra in siembras %}
				<option value="{{siembra.nombre}}">{{siembra.nombre}}</option>
				{% endfor %}
			</select>
		</div>
		
	</div>
	<br>
	<div class="container">
		<button class="btn btn-primary">Guardar</button>
		<a href="{% url 'admi:faseCultivo' %}" class="btn btn-danger">Cancelar</a>	
	</div>

</form>

<script type="text/javascript">
	$(document).ready(function(){
	
		$('#diasD').change(function() {
		$('#valor').val($(this).val());
		});
		$('#hidricos').change(function() {
		$('#valor2').val($(this).val());
		});
	});
	
</script>

{% endblock %}